{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{#  more information about the licensing of this file. #}

{% extends "layout.html" %}

{% block title %} Examination - {{course.get_name(user_manager.session_language())}} {% endblock %}

{% block navbar %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mycourses" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Mes cours"><i class="fa fa-th-list"></i></a></li>
        <li class="breadcrumb-item active"><a href="#">{{course.get_name(user_manager.session_language())}}  <span class="sr-only">{{ _("(current)") }}</span></a></li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<h2>{{ course.get_name(user_manager.session_language()) }} - Examination</h2>
    {% if error %}
        <h4>{{ error }} <a href="{{get_homepath()}}/course/{{course.get_id()}}">Click here</a> to get back and retry.</h4>
    {% elif using_seb %}
        <h4>Your exam has been marked as finished.</h4>
        <ul>
            <li>You can freely exit Safe Exam Browser by <a href="{{get_homepath()}}/seb-quit">click here.</a></li>
            <li>If this was not intentional, tell your teaching assistant to cancel this NOW without exiting the browser!</li>
        </ul>
    {% else %}
        <h4>Your exam has been marked as finished. <a href="{{get_homepath()}}/">Click here</a> to get back to course list.</h4>
    {% endif %}
{% endblock %}
